.HeaderWrapper {
  position: relative;
  height: 125vh;
  overflow-x: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
video {
  height: 100%;
  object-fit: contain;
}
@media (max-width: 500px) {
  video {
    display: none;
  }
  .HeaderWrapper {
    background-image: url("../assets/PhonePic1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
