@font-face {
  font-family: "Bradley Hand";
  src: url("../assets/BRADHI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Bradley Hand", cursive;
}
.laal {
  color: #d43328;
}
.Para1 {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  color: #787878;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: right;
  margin-right: 50px;
  margin-top: 70px;
}
.VideoTxtWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.VThead {
  font-family: "Poppins";
  font-size: 120px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: -0.03em;
  text-align: left;
  text-shadow: 0px 2px, 2px 0px, 2px 2px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}
.VidTxt {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  height: 40vh;
}
.VidTxt div {
  font-family: "Poppins";
  font-size: 300.99px;
  font-weight: 900;
  line-height: 30vh;
  letter-spacing: -0.04em;
  text-align: left;
  letter-spacing: -0.03em;
  text-shadow: 0px 2px, 2px 0px, 2px 2px;
  color: white;
}
.vibe {
  transform: rotate(-10.48deg);
  font-family: "Bradley Hand", cursive, sans-serif;
  font-size: 250px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #c73127;
  position: absolute;
  bottom: 0;
  right: 40vw;
  left: 36%;
  top: 80%;
}
.Para2 {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  color: #787878;
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-left: 50px;
  margin-top: 60px;
}
.Para3 {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 130px;
}
.Para4 {
  font-family: "Poppins";
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #646464;
  margin-top: 40px;
}
.Text1Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
  padding: 0 10px;
}
.Text1Wrapper div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Poppins";
  font-size: 120px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-left: 50px;
}
.Text1Wrapper p {
  font-family: "Poppins";
  font-size: 27px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.04em;
  text-align: right;
  color: #595959;
  padding-right: 50px;
  width: 26%;
}
.Text2Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
  padding: 0 10px;
}
.Text2Wrapper div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Poppins";
  font-size: 120px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-left: 50px;
}
.Text2Wrapper p {
  font-family: "Poppins";
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: right;
  color: #595959;
  padding-right: 50px;
  width: 26%;
}
.Text3Wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 100px;
  margin-left: 50px;
}
.Text3Wrapper div {
  display: flex;
  font-family: "Poppins";
  font-size: 120px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: -0.02em;
  text-align: left;
  gap: 21px;
}
.Text3Wrapper p {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #1e1e1e;
  padding-left: 20px;
}

.Text4Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 150px;
  padding: 0 30px;
}
.Text4Wrapper div {
  display: flex;
  font-family: "Poppins";
  font-size: 65px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: -0.02em;
  text-align: left;
  gap: 21px;
}
.Text4Wrapper p {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #595959;
  padding-left: 20px;
  width: 60%;
}
@media (max-width: 500px) {
  video {
    height: 60vh;
  }
  .VideoTxtWrapper {
    margin: 0px;
    gap: 0;
  }
  .VThead {
    font-size: 20vw;
    margin: 0;
  }
  .VidTxt {
    margin: 0;
    height: 100%;
    object-fit: contain;
    align-items: flex-start;
    position: absolute;
    top: 60%;
  }
  .VidTxt div {
    font-size: 30vw;
    width: 100%;
    text-align: start;
  }
  .vibe {
    font-size: 140px;
    position: absolute;
    top: 35vh;
  }
  .Para2 {
    margin: 0;
    margin-top: 50px;
    font-size: 20px;
    line-height: 25px;
    display: none;
  }
  .Para3 {
    font-size: 33px;
    line-height: 35px;
    margin: 0;
    margin-top: 50px;
  }
  .Para4 {
    font-size: 20px;
    line-height: 30px;
  }
  .Text1Wrapper {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  .Text1Wrapper div {
    width: 50%;
    transform: scale(0.7);
    padding: 0;
    gap: 0px;
    font-size: 6em;
    line-height: 0.9em;
  }
  .Text1Wrapper p {
    width: 50%;
    padding: 0;
    transform: scale(0.7);
    line-height: 25px;
    font-size: 1.5em;
  }
  .Text2Wrapper {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
  }
  .Text2Wrapper div {
    width: 50%;
    transform: scale(0.6);
    padding: 0;
    gap: 0px;
    font-size: 5.5em;
    line-height: 1em;
    margin: 0;
  }
  .Text2Wrapper p {
    width: 50%;
    padding: 0;
    transform: scale(0.7);
    line-height: 25px;
    font-size: 1.4em;
    margin-top: 150px;
  }
  .Text3Wrapper {
    margin: 0;
    padding: 0;
    gap: 0;
    margin-top: 40px;
  }
  .Text3Wrapper div {
    font-size: 60px;
    letter-spacing: 0;
    text-align: center;
    gap: 0;
    line-height: 65px;
    flex-direction: column;
  }
  .Text3Wrapper span{
    text-align: center;
  }
  .Text3Wrapper p {
    font-size: 22px;
    text-align: center;
    padding: 0 5px;
    margin-top: 30px;
  }
  .Text4Wrapper{
    margin-top:50px;
  }
  .Text4Wrapper div{
    line-height: 40px;
    font-size: 35px;
    text-align: center;
  }
  .Text4Wrapper p{
    width: 100%;
    font-size: 15px;
    line-height: 18px;
  }
}
