.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 100px;
}
.itemWrapper {
    position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 15px;
  border: 1px solid #e3e3e3;
  padding: 10px;
  gap: 1vh;
  padding-bottom: 6vh;
}
.itemWrapper img {
  width: 100%;
}
.place {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-top: 2vh;
}
.placename {
  color: #c73127;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 3vh;
  text-align: left;
}

.itemWrapper p {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #0000006e;
}
rating {
  width: 30%;
  display: flex;
  gap: 5px;
  font-family: "Poppins";
  position: absolute;
  bottom: 15px;
  align-items: center;
}
@media(max-width:500px){
  .itemWrapper{
    width: 30%;
    gap: 0.5vh;
  }
  .place{
    font-size: 10px;
  }
  .placename{
    font-size: 15px;
    line-height: 2vh;
  }
  .itemWrapper p{
    font-size: 8px;
    line-height: 10px;
  }
  rating{
    font-size:10px;
  }
  .container{
    margin-top: 50px;
  }

}
