@font-face {
  font-family: "Bradley Hand";
  src: url("../assets/BRADHI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
em {
  font-style: normal;
  color: #c73127;
}
body {
  font-family: "Bradley Hand", cursive;
}
.laal {
  color: #d43328;
}
.laal2 {
  color: #ff1303;
}
.Para1 {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  color: #787878;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: right;
  margin-right: 50px;
  margin-top: 70px;
}
.VideoTxtWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
  gap: 0;
}
.VThead {
  font-family: "Poppins";
  font-size: 120px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: -0.03em;
  text-align: left;
  text-shadow: 0px 2px, 2px 0px, 2px 2px;
  margin-left: 20px;
  color: rgba(250, 250, 250);
}
.VidTxt {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-left: 20px;
  margin-top: 7vh;
  position: absolute;
  overflow: hidden;
  height: 40vh;
}
.VidTxt div {
  font-family: "Poppins";
  font-size: 120px;
  font-weight: 900;
  line-height: 30vh;
  letter-spacing: -0.04em;
  text-align: left;
  letter-spacing: -0.03em;
  text-shadow: 0px 2px, 2px 0px, 2px 2px;
  color: white;
}
.vibe {
  transform: rotate(-4deg);
  display: flex;
  align-items: center;
  font-family: "Long Cang", cursive;
  font-size: 150px;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ff1000;
  padding-bottom: 13vh;
}
.Text1Wrapper {
  margin-top: 100px;
  display: flex;
  padding: 0 4vw;
  gap: 15vw;
  align-items: center;
}
.Txt1 {
  font-family: "Poppins";
  font-size: 8.5em;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: left;
  line-height: 1.1em;
}
.Txt2 {
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: right;
  color: #0000008f;
}
.Text2Wrapper {
  font-family: "Poppins";
  font-size: 8em;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;
}
.Text3 {
  margin-top: 20vh;
  right: 0;
  font-family: "Poppins";
  font-size: 2.5em;
  font-weight: 400;
  max-width: 50%;
  line-height: 7vh;
  letter-spacing: -0.04em;
  text-align: right;
  color: #838383;
  margin-left: 45vw;
}
.txt0Wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.txt0 {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 2.4em;
  font-weight: 400;
  width: 40%;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: -0.04em;
  text-align: left;
  gap: 2vh;
}
.grey {
  color: #838383;
}
.txt0Wrapper img {
  width: 30%;
  height: 85vh;
}
.Txt4Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  margin-top: 15vh;
}
.Txt4Para1 {
  gap: 3vh;
  width: 60%;
}
.Txt4Para1 em {
  font-style: normal;
  color: #ff0000;
}
.Txt4Para1 p {
  font-family: "Poppins";
  font-size: 140px;
  font-weight: 400;
  line-height: 18vh;
  letter-spacing: -0.04em;
  text-align: left;
}
.Txt4Para2 {
  width: 20%;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 3vh;
  letter-spacing: -0.04em;
  text-align: right;
  color: #838383;
  padding-right: 2vw;
}
.txt5{
  margin-top: 20vh;
}
.Txt5Wrapper {
  font-family: "Poppins";
  width: 47%;
  font-size: 6em;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: left;
  padding-left: 5vw;
}
.Txt6Wrapper{
  margin-top: 15vh;
  width: 80%;
  font-family: "Poppins";
  font-size: 5.7em;
  line-height: 1.1em;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;
  padding-left: 5vw;
}
@media (max-width: 500px) {
  video {
    height: 60vh;
  }
  .VideoTxtWrapper {
    margin: 0;
    gap: 0;
    transform: scale(0.8);
    margin-right: 25em;
  }
  .VThead {
    font-size: 18vw;
    margin: 0;
    line-height: 80px;
  }
  .VidTxt {
    margin: 0;
    object-fit: contain;
    align-items: flex-start;
    position: absolute;
    top: 60%;
    gap: 20px;
  }
  .VidTxt div {
    font-size: 23vw;
    width: 100%;
    text-align: start;
  }
  .vibe {
    display: flex;
    font-size: 8em;
    top: 0vh;
    position: absolute;
    top: 170px;
  }
  .Text1Wrapper {
    gap: 5vw;
    margin-top: 8vh;
  }
  .Txt1 {
    font-size: 3.5em;
  }
  .Txt2 {
    font-size: 0.9em;
  }
  .Text2Wrapper {
    margin-top: 50px;
    font-size: 3.5em;
    line-height: 0.9em;
  }
  .Text3 {
    margin-top: 10vh;
    font-size: 1em;
    line-height: 3vh;
    margin-left: 40vw;
  }
  .Txt4Wrapper {
    padding: 0 20px;
    margin-top: 5vh;
  }
  .Txt4Para1 p {
    font-size: 3em;
    line-height: 6vh;
    width: 50%;
  }
  .Txt4Para2 {
    width: 50%;
  }
  .txt0{
    font-size: 0.8em;
  }
  .txt0Wrapper img{
    height: 100%;
  }
  .txt0Wrapper {
    margin-top: 8vh;
  }
  .Txt5Wrapper{
    font-size: 3em;
  }
  .txt5{
    margin-top: 10vh;
  }
  .Txt6Wrapper{
    margin-top: 10vh;
    font-size: 2em;
  }
}
@media (max-width: 400px) {
  .Text1Wrapper {
    gap: 5vw;
  }
  .Txt1 {
    font-size: 2.5em;
  }
  .Txt2 {
    font-size: 0.8em;
  }
  .txt0{
    font-size: 0.6em;
  }
  .txt0Wrapper img{
    height: 100%;
  }
  .Txt5Wrapper{
    font-size: 2em;
  }
}
